[submodule "uvcrobot_hardware/pwm_motor/lib/Adafruit_BNO055"]
	path = uvcrobot_hardware/pwm_motor/lib/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "uvcrobot_hardware/pwm_motor/lib/Adafruit_Sensor"]
	path = uvcrobot_hardware/pwm_motor/lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "ros_deep_learning"]
	path = ros_deep_learning
	url = https://github.com/dusty-nv/ros_deep_learning
[submodule "jetbot_ros"]
	path = jetbot_ros
	url = https://github.com/dusty-nv/jetbot_ros
[submodule "rosserial"]
	path = rosserial
	url = https://github.com/ros-drivers/rosserial.git
